h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

body {
    background-color: #222;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1100px;
    margin: 40px auto;
    padding: 15px;
    justify-items: center;
    background-color: #949494;
    border-radius: 8px;

}

.pelicula img {
    width: 240px;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.pelicula img:hover {
    transform: scale(1.05);
}

.info {
    position: absolute;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
}